.sarlavha {
    color: #61ae51;
    text-align: center;
}
.blue_texts {
    color: #369ae6;
}
div{
    text-align: center;
}
img {
    border-radius: 10px;
    border: 4px solid grey;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.1);;
}
h3 {
    color: #d4604c;

}
.lastone {
    text-decoration: none;
}
iframe {
    display: block;
    margin: 0 auto;
}